@import url("./main.css");
@import url('./core/cartItem.css');
@import url("./core/productCard.css");
@import url("./product.css");

body{
    background-color: var(--color-grey);
}

.item-list{
    padding: 10px;

    display: flex;

}
.list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.list > .product-card{
    margin: 20px;
    /* height: max-content; */
}