.side-card{
    display: flex;   
    justify-content: space-around;
    margin-bottom: 50px;
}

.side-card:nth-child(even){
    flex-direction: row-reverse;
}

.side-card #body{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.side-card #img{
    flex: 1;
    display: flex;
}

.side-card  #img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.side-card #body > .title{
    font-size: xx-large;
    color: var(--color-tertiary);
    text-align: center;
}
.side-card #body > .text{
    color: var(--color-grey);
    text-align: center;
}


@media screen and (max-width: 480px){
    .side-card{
        flex-direction: column;
    }
    .side-card #body{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .side-card #body > .title{
        font-size: x-large;
    }

    
}
